@import '../../css/variables.scss';

.container{
	width: 70vw;
	border-radius: 5px;
	border: 2px solid $primary-color;
	display: grid;
	place-items: center center;
	grid-template-columns: 1fr;
	background-color: $surface-first-level;
	color: $on-surface-color;
	position: fixed;
    top: 50%;
	margin: 0 auto;
    transform: translate(0, -50%);
	z-index: 2;
	padding: 0 20px;

	@media only screen and (min-width: 600px) {
		.container{
			width: 500px;	
		}
	}

	.item{
		width: 100%;
		margin: 10px 0;
		height: 50px;
		border-radius: 5px;
		background-color: $surface-second-level;
		color: $on-surface-second-level;
		display: grid;
		place-items: center center;
		cursor: pointer;
	}
}