.main {
	background-image: url('../../images/hyperspace.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	display: grid;
	place-items: center center;
}