@import '../../css/variables.scss';

.main{
	composes: list from '../Characters/Characters.module.scss';
	height: 100vh;
}

.person{
	composes: person from '../Person/Person.module.scss';
	cursor: default;
}

@media only screen and (min-width: 600px) {
	.person {
		width: 600px;
	}
}